# vmtk requirements
# From OQ wheels

https://wheelhouse.openquake.org/v3/windows/py311/fiona-1.10.1-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/gdal-3.10.2-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/h5py-3.13.0-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/llvmlite-0.44.0-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/matplotlib-3.10.1-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/numba-0.61.2-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/numpy-2.2.6-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/pandas-2.2.3-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/pyproj-3.7.2-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/scipy-1.15.3-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/shapely-2.1.0-cp311-cp311-win_amd64.whl
#
#
#
openseespy==3.6.0.3
openseespywin==3.6.0.3
https://wheelhouse.openquake.org/v3/py/click-8.1.7-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pydantic-2.10.6-py3-none-any.whl
