https://wheelhouse.openquake.org/v3/macos/arm64/py312/fiona-1.10.1-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/gdal-3.10.3-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/h5py-3.13.0-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/llvmlite-0.44.0-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/matplotlib-3.10.1-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/numba-0.61.2-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/numpy-2.2.6-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/pandas-2.2.3-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/pyproj-3.7.2-cp312-cp312-macosx_11_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/scipy-1.15.3-cp312-cp312-macosx_12_0_arm64.whl
https://wheelhouse.openquake.org/v3/macos/arm64/py312/shapely-2.1.0-cp312-cp312-macosx_11_0_arm64.whl
#pp
openseespymac==3.8.0.0
https://wheelhouse.openquake.org/v3/py/click-8.1.7-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pydantic-2.10.6-py3-none-any.whl
