# vmtk requirements
# From OQ wheels
#
https://wheelhouse.openquake.org/v3/linux/py313/fiona-1.10.1-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/gdal-3.10.3-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/h5py-3.13.0-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/llvmlite-0.44.0-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/matplotlib-3.10.1-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/numba-0.61.2-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/numpy-2.2.6-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/pandas-2.2.3-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/pyproj-3.7.2-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/scipy-1.15.3-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/shapely-2.1.0-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py313/statsmodels-0.14.4-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
#
openseespy==3.7.0.4
openseespylinux==3.7.0.4
https://wheelhouse.openquake.org/v3/py/click-8.1.7-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pydantic-2.10.6-py3-none-any.whl
